* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=text]::placeholder {
    color: #bbb;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 21px;
}

input[type=text] {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    outline: none;
    border: none;
    width: 399px;
    margin-right: 18px;
}

.container {
    width: 476px;
    min-height: 688px;
    background-color: #FFF;
    margin: 0 auto;
}

body {
    background-color: #E5E5E5;
    font-family: Roboto, sans-serif;
    line-height: 21px;
    font-size: 18px;
    margin: 20px;
}

legend {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

ul {
    list-style-type: none;
}

.to_do_list {
    padding: 25px 8px;
}

fieldset {
    border: 0;
    width: 100%;

}

li {
    border: 1px solid #989898;
    border-radius: 6px;
    display: flex;
    margin-bottom: 8px;
    padding: 12px;
    align-items: flex-start;
}

form {
    display: flex;
}

p {
    margin-left: 12px;
    text-align: start;
    width: 370px;
    display: inline-block;
    overflow: hidden;
}

.btn_add {
    background: url(assets/add-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    padding: 0%;
    width: 18px;
    height: 18px;
    border: 0;
}

.btn_exit {
    background: url(assets/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    width: 15px;
    height: 15px;
    border: 0;
}

button {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

li:not(:first-child) label {
    display: flex;
}

li:not(:first-child) label::before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 1px solid #998899;
    border-radius: 50%;
}


input[type=checkbox]:checked+label::before {
    border: 1px solid #998899;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    background-color: #C4C4C4;
    box-shadow: inset 0 0 0 2px #fff;
}

.done_task_high {
    background-color: #F4F4F4;
}

.list_low li:last-child {
    margin: 0;
}